<p>
  There are currently <%= Post.count %>
  <%= t(:available_posts, count: Post.count) %> in the house!
</p>

<p>
  Our private club hosts a whooping <%= User.count %>
  <%= t(:members, count: User.count) %>!
</p>

<h1>Posts</h1>

<%= render @posts %>